html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: satoshi;
  font-variation-settings: "wght" 500;
}

.noscroll {
  overflow-y: hidden !important;
}

img {
  font-size: 10px;
}

a,
li,
ul,
p {
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background: initial;
  color: inherit;
}
.container {
  width: 100vw;
}
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.pg_head {
  width: 100vw;
  display: flex;
  height: 45vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: branch;
  font-size: 4vw;
}

.cont {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-top: 1px solid #000;
}

nav {
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 5vw 0px 4vw;

  border-bottom: 1px solid #ccc;
  background: #fff;
  color: #000;
  font-size: 1.25rem;
}

/* Logo */
.main_logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
}
.main_logo i {
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  border-top: 0px;
  border-right: 0px;
}
.main_logo_inn {
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_border {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  border-radius: 100%;
  border: 0.02rem solid #444;
  animation: expand 2s linear infinite;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  font-size: 17px;
  font-family: satoshi;
  letter-spacing: 0.03rem;
}
.logo i {
  color: #2b0fff;
  font-size: 19px;
}

.nav_rt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
}
.nav_rt i {
  font-size: 15px;
  margin: 0px 5px;
}
.nav_rt i:last-child {
  margin-right: 0px;
}

/* Footer
========= */
footer {
  width: 100vw;
  color: #fff;
  padding: 10vw 0px;
  margin-top: 10rem;
  background: #000;
  font-variation-settings: "wght" 400;
}

.ft_inn {
  width: 87vw;
  margin: 0 auto;
}

.ft_r1 {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
}

.ft_r1 img {
  width: auto;
  height: 1.3rem;
}

.ft_logo {
  margin-bottom: 0.5rem;
}
.ft_r1 .ft_cap {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}
.ft_cap p {
  font-size: 12px;
}
.ft_cap i {
  font-size: 1.15rem;
  margin: 0px 5px;
  margin-bottom: -0.1rem;
}
.ft_cap i:nth-child(1) {
  color: #00acee;
  /* color: #0048ff; */
}
.ft_cap i:last-child {
  color: #0bdc6c;
  margin-right: 0px;
}

.ft_r2 {
  height: 1.5px;
  margin-bottom: 1.5rem;
  background: linear-gradient(
    90deg,
    #2b0fff,
    #eaac60 33%,
    #f93e3e 50%,
    #9755ed 77%,
    #54ea81 100%
  );
  background-size: 350% 350%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ft_r3 {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ft_r3 ul {
  display: flex;
  flex-direction: row;
}

.ft_r3 ul li:first-child {
  margin-right: 1rem;
}
@media (min-width: 750px) {
  .cont {
    width: 750px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .nav_rt1 {
    font-size: 12px;
  }
  .nav_rt2 {
    font-size: 13px;
  }
  .nav_rt1 i {
    font-size: 12px !important;
    margin-right: 2px;
  }
  .nav_rt2 i {
    font-size: 14px;
  }
}
